@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

.img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(images/img9.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    color: #fffdfc;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li {

    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
}

.menu .navbar ul li a:hover {
    color: blueviolet;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
    background-color: #f7f7f7;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4b4b4b;
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}

th, td {
    color: #ffffff;
}

.borrar {
    background-color: blueviolet;
    border-radius: 50%;
    padding: 5px 10px;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
}

.header-content {
    display: flex;
    align-items: center;
    flex: 1;
}

.header-txt {
    flex-basis: 40%;
} 

.header-txt h1 {
    font-size: 50px;
    line-height: 1;
    color: #181818;
    text-transform: uppercase;
    margin-bottom: 25px;
}

 p {
    color: #181818;
    font-size: 18px;
    margin-bottom: 25px;
}

.btn-1, .btn-3 {
    display: inline-block;
    padding: 10px 30px;
    color: blueviolet;
    border: 2px solid blueviolet;
    text-transform: capitalize;
    border-radius: 15px;
}

.btn-1:hover, .btn-3:hover {
    color: #ffffff;
    background-color: blueviolet;
}

.header-img {
    flex-basis: 60%;
}

.oferts {
    padding: 100px 0;
}

h2 {
    font-size: 40px;
    line-height: 1;
    color: #181818;
    margin-bottom: 10px;
}

.oferts-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.ofert-1 {
    flex-basis: calc(30% - 30px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 25px;
    text-align: center;
    background-color: #f7fafa;
    border-radius: 10px;
}

.ofert-1 img {
    width: 130px;
    height: 170px;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    line-height: 1;
    color: #181818;
    margin-bottom: 10px;
}

.product-txt p {
    margin-bottom: 10px;


}

.precio {
    color: blueviolet;
    font-weight: 700;
    margin-bottom: 20px;
}

.btn-3 {
    padding: 4px 20px;
}

.promotion {
    padding: 80px 0;
    background-color: #f7f7f7;
}

.promotion-content {
    display: flex;
}

.promotion-txt {
    flex-basis: 50%;
}

.promotion-img {
    flex-basis: 50%;
    text-align: center;
}

.promotion-img img {
    width: 250px;
}

.product {
    padding: 100px 0;
    text-align: center;
}

.product-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-bottom: 50px;
}

.blog {
    padding: 50px 0 100px;
}

.blog-content {
    display: flex;
    justify-content: space-between;
}

.blog-1 {
    flex-basis: calc(33.3% - 30px);
    margin-top: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.blog-txt {
    padding: 40px;

}
.btn-4 {
    display: inline-block;
    border: 1px solid #181818;
    padding: 8px 25px;
    font-size: 17px;
    text-transform: capitalize;
    color: #181818;
}

.footer {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 17px;
    color: #181818;
    margin-bottom: 10px;
}

.link a {
    font-size: 17px;
    color: #181818;
    display: block;
    margin-bottom: 10px;
}

.link a:hover {
    color: blueviolet;
}

@media(max-width:991px) {

    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #4b4b4b;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .logo {
        display: flex;
    }

    .header {
        min-height: 0vh;
        padding: 100px 30px 50px 30px;
    }

    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .header-txt {
        margin-bottom: 25px;
    }

    .oferts {
        padding: 30px;
    }

    .oferts-content {
        flex-direction: column;
    }

    .ofert-1 {
        margin-bottom: 30px;
    }

    .promotion {
        padding: 30px;
    }

    .promotion-content {
        flex-direction: column;
        text-align: center;
    }

    .promotion-txt {
        margin-bottom: 25px;
    }

    .promotion-img img {
        width: 200px;
    }

    .product {
        padding: 30px;
    }

    .product-content {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }

    .blog {
        padding: 30px;
    }

    .blog-content {
        flex-direction: column;
    }

    .footer {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }
}